@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --current-page: 58, 123, 253;
  --gradient-start: 87, 221, 255;
  --gradient-end: 192, 88, 243;
}
.light {
  --background: 249, 249, 249;
  --task-box: 255, 255, 255;
  --active-task: 72, 75, 106;
  --finished-task: 209, 210, 218;
  --primary-text: 146, 147, 164;
  --divider-circle: 227, 228, 241;
  --circle: 227, 228, 241;
}

.dark {
  --background: 22, 23, 33;
  --task-box: 36, 38, 60;
  --active-task: 201, 204, 231;
  --finished-task: 76, 79, 101;
  --primary-text: 119, 121, 146;
  --divider-circle: 57, 57, 75;
  --circle: 57, 58, 75;
  --hover: 227, 228, 241;
}